
*{margin: 0%;
padding: 0%;
}

nav{
    display: flex;
    justify-content: space-between;
    
}
.part1{
    display: flex;
    justify-content: space-between;
}
h4 {text-align: center;}
button{
    color: #FAFAFA;
    padding: 9px 25px;
    background-color: #2549D3;
    border: none;
    border-bottom: 25px;
    line-height: 10px;
}
.title2{color: blue;}
div{background-color: white;
    display: flex;}
footer{
    background-color: #2549D3;
}
#Vallies Estate{ font-style: italic;
    font-weight:bold}